<div class="container py-4">
    <div class="my-2">
        <input type="text" name="term" placeholder="Search by name or city" (input)="search($event)"/>
        <button (click)="addEmployee()" style="float:right">Add Employee</button>
    </div>
    <div class="table-responsive-sm">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>City</th>
                    <th>Address 1</th>
                    <th>Address 2</th>
                    <th>Postal Code</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeesArray;trackBy: trackByFn;">
                    <td>{{employee.id}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.phone | mobile}}</td>
                    <td>{{employee.address?.city}}</td>
                    <td>{{employee.address?.address_line1}}</td>
                    <td>{{employee.address?.address_line2}}</td>
                    <td>{{employee.address?.postal_code}}</td>
                    <td><a style="cursor:pointer; color: blue; text-decoration: underline" (click)="redirectToUpdateEmployee(employee.id)">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>